.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 2rem;
    padding: 1rem;
    gap: 1rem;
}

.depoimentos__subtitulo {
    color: var(--vinho);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.depoimentos__titulo {
    color: var(--preto);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.depoimentos__nome {
    color: var(--preto);
    font-weight: 500;
    line-height: 1.5rem;
}

.depoimentos__texto {
    color: var(--cinza-azul);
    font-size: .9rem;
}

@media screen and (min-width: 1024px) {
    .depoimentos {
        margin: 2rem;
        padding: 2rem 5rem;
    }

    .depoimentos__titulo {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .depoimentos__titulo {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

